
    <div class="wikia-gallery-item" style="width:112px; ">
        <div class="thumb" style="height:112px;">
            <div class="gallery-image-wrapper accent" id="----------_----------------------" style="position: relative; height:109px; width:110px; top:0.5px;">
                <a class="image link-internal" href="/boss/GetBossPage/{bossId}" title="{bossName}" style="height:109px; width:110px;">
                    <img style="" src="{bossPicture}" title="{bossName}" class="thumbimage ls-is-cached lazyloaded" alt="{bossName}" data-relevant="1" data-caption="<center><b></b></center>" width="110" height="110"></a>
            </div>
        </div>
        <div class="lightbox-caption" style="width:110px;">
            <center><b><a href="/boss/GetBossPage/{bossId}" title="{bossName}">{bossName}</a></b></center>
        </div>
    </div>    