@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');


*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #891100;
    font-size: 14px;
    line-height: 1.75;
    font-family: Rubik;
    
}

body.skin-fandomdesktop, button, input, textarea {
    font-family: rubik,helvetica,arial,sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 66px;
    min-width: 702px;
    width: calc(100% - 66px);
}

/* 
.
.
.
.
.
*/



